@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
<h4>Welcome to the ToDo List App</h4>
<h4>This App is created by Aakash Sadnani</h4>



<ul>
    @foreach (var col in Model.todoList)
    {
        <li>
            <partial name="_FormInput" model="@col" />
        </li>

    }
</ul>

<form method="Get">
    <label>Title: <input type="text" name="todo.Title" asp-for="todo.Title" /></label>
    <label>Description: <input type="text" name="todo.Description" asp-for="todo.Description" /></label>
    <label>Date: <input type="datetime" name="todo.Time" value="@DateTime.Now" asp-for="todo.Time" /></label>
    @*<label>
            Done:
            @Html.CheckBoxFor(m => Model.todo.check)
        </label>*@
    <label asp-for="todo.check"></label><input asp-for="todo.check" />
    <input type="submit" />
</form>


